<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= productType %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel='stylesheet' href='/styles/index.css' type="text/css">
        <link rel='stylesheet' href='/styles/products.css' type="text/css">
        <link rel='stylesheet' href='/styles/gridItem.css' type="text/css">
</head>
<body>

    <%- include('./components/navbar'); %>

    <header class='page-header browse-header'>
        <div class='content'>
            <!--get the products' category from the page's url-->
            <h4> <%= productType %> </h4>
            <p class='mt-3'>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tenetur dolores
                sapiente est iste necessitatibus.
        </p>

        <button type="button" class='btn btn-outline-light mt-3' variant='outline-light'
        onClick='scrollToMainContent()'>
        Browse
    </button>
        </div>
    </header>

    <div class="container-fluid mt-5">
        <% for(let i = 0; i < products.length; i+=6) { %>
        <div class="row mb-3">
            <div class="col">
                <div class="card grid-item-container h-100">
                    <img class="card-img-top" src=<%= products[i].images[0] %> alt=<%= products[i].title %> />
                    <div class="card-body">
                    <p class="card-title title"><%= products[i].productInfo.title %></p>
                    <p class="card-text">
                        $<%= products[i].productInfo.price %>
                    </p>
                    <button class="btn btn-primary" onClick="addItemToCart('<%= products[i]._id %>')">Add to Cart</button>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <% if(i + 1 < products.length) { %>

                    <div class="card grid-item-container h-100">
                        <img class="card-img-top" src=<%= products[i+1].images[0] %> alt=<%= products[i+1].title %> />
                        <div class="card-body">
                        <p class="card-title title"><%= products[i+1].productInfo.title %></p>
                        <p class="card-text">
                            $<%= products[i+1].productInfo.price %>
                        </p>
                        <button class="btn btn-primary" onClick="addItemToCart('<%= products[i+1]._id %>')">Add to Cart</button>
                        </div>
                    </div>

                <%};%>
            </div>
            
            <div class="col">
                <% if(i + 2 < products.length) { %>

                    <div class="card grid-item-container h-100">
                        <img class="card-img-top" src=<%= products[i+2].images[0] %> alt=<%= products[i+2].title %> />
                        <div class="card-body">
                        <p class="card-title title"><%= products[i+2].productInfo.title %></p>
                        <p class="card-text">
                            $<%= products[i+2].productInfo.price %>
                        </p>
                        <button class="btn btn-primary" onClick="addItemToCart('<%= products[i+2]._id %>')">Add to Cart</button>
                        </div>
                    </div>

                <%};%>
            </div>
            
            <div class="col">
                <% if(i + 3 < products.length) { %>

                    <div class="card grid-item-container h-100">
                        <img class="card-img-top" src=<%= products[i+3].images[0] %> alt=<%= products[i+3].title %> />
                        <div class="card-body">
                        <p class="card-title title"><%= products[i+3].productInfo.title %></p>
                        <p class="card-text">
                            $<%= products[i+3].productInfo.price %>
                        </p>
                        <button class="btn btn-primary" onClick="addItemToCart('<%= products[i+3]._id %>')">Add to Cart</button>
                        </div>
                    </div>

                <%};%>
            </div>
            
            <div class="col">
                <% if(i + 4 < products.length) { %>

                    <div class="card grid-item-container h-100">
                        <img class="card-img-top" src=<%= products[i+4].images[0] %> alt=<%= products[i+4].title %> />
                        <div class="card-body">
                        <p class="card-title title"><%= products[i+4].productInfo.title %></p>
                        <p class="card-text">
                            $<%= products[i+4].productInfo.price %>
                        </p>
                        <button class="btn btn-primary" onClick="addItemToCart('<%= products[i+4]._id %>')">Add to Cart</button>
                        </div>
                    </div>

                <%};%>
            </div>
            
            <div class="col">
                <% if(i + 5 < products.length) { %>

                    <div class="card grid-item-container h-100">
                        <img class="card-img-top" src=<%= products[i+5].images[0] %> alt=<%= products[i+5].title %> />
                        <div class="card-body">
                        <p class="card-title title"><%= products[i+5].productInfo.title %></p>
                        <p class="card-text">
                            $<%= products[i+5].productInfo.price %>
                        </p>
                        <button class="btn btn-primary" onClick="addItemToCart('<%= products[i+5]._id %>')">Add to Cart</button>
                        </div>
                    </div>

                <%};%>
            </div>
        </div>
        <% }; %>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script src="/scripts/products.js"></script>
</body>
</html>